## Analysis Part 2

<ul style="font-size:20px;">
    <li> EDA</li>
    <li> Find a way to see the top technical skills required</li>
    <li> Find key requirements</li>
    <li> Find education level requirements</li>
    <li> Find key responsibilities</li>

</ul>

In [2]:
# library import 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# reading data 

df = pd.read_csv("./text_to_df/job_df.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ids              141 non-null    int64
 1   title            141 non-null    object
 2   company          141 non-null    object
 3   location         141 non-null    object
 4   text             141 non-null    object
 5   seniority_level  136 non-null    object
 6   industry         141 non-null    object
 7   employment_type  141 non-null    object
 8   job_function     141 non-null    object
dtypes: int64(1), object(8)
memory usage: 10.0+ KB

In [5]:
df.head()

,ids,title,company,location,text,seniority_level,industry,employment_type,job_function
0,56,Software Engineer,Smartbox Group,"Dublin, County Dublin, Ireland",Department: Technology Reporting to: Software...,Associate,"Leisure, Travel & Tourism Hospitality",Full-time,Engineering Information Technology
1,21,Data Analyst,Johnson & Johnson,"Cork, County Cork, Ireland","Data Analyst, Technical Operations (Global) C...",Entry level,Medical Device Financial Services Pharmaceuticals,Full-time,Information Technology
2,34,Senior Data Engineer,Vela Games,"Dublin, County Dublin, Ireland",Vela Games is looking for a talented Senior Da...,Associate,Design Entertainment Computer Games,Full-time,Engineering
3,106,Data Analyst,Dabster,"Cork, County Cork, Ireland","Permanent Position Cork , Ireland Duties, Fu...",Entry level,Information Technology & Services Computer Sof...,Full-time,Information Technology
4,51,AIB - Data Engineer – Data and Analytics,AIB,Ireland,Posted by Caroline Donlon 2nd Senior Business ...,Mid-Senior level,Banking,Full-time,Information Technology

In [6]:
print("Top 10 job titles: ")
df.title.value_counts()[:10]

Top 10 job titles:

Data Scientist               16
Data Engineer                 8
Senior Data Engineer          7
Senior Data Scientist         7
Data Analyst                  6
Software Engineer             6
Machine Learning Engineer     4
UX Researcher                 3
Software Developer            3
Principal Data Engineer       2
Name: title, dtype: int64

In [7]:
df.location.str.split(",").apply(lambda x: x[0]).value_counts()

Dublin              89
Cork                16
Galway               7
Ireland              6
Dublin City          5
Limerick             3
Shannon              2
Waterford            2
County Dublin        2
Tipperary            1
Sligo                1
Letterkenny          1
Killarney            1
Donegal              1
Wicklow              1
County Limerick      1
Carlow               1
County Tipperary     1
Name: location, dtype: int64

In [8]:
df.employment_type.value_counts()

Full-time                                                                                                                                               128
Contract                                                                                                                                                 11
We are very happy to reward success, and so, with Idiro, you will have an opportunity to craft your career in a flexible and supportive environment.      1
Competitive salary and OTE with good career prospects                                                                                                     1
Name: employment_type, dtype: int64

In [9]:
df.job_function.value_counts()

Engineering Information Technology                     47
Information Technology                                 46
Engineering                                             7
Other                                                   6
Finance Sales                                           3
Information Technology Engineering                      3
Analyst Engineering Information Technology              2
Research Analyst Information Technology                 2
Full-time                                               2
Information Technology Analyst Engineering              2
Customer Service                                        2
Strategy/Planning Analyst Information Technology        2
Engineering Information Technology Other                1
Research Strategy/Planning                              1
Information Technology Health Care Provider Analyst     1
Science                                                 1
Engineering Analyst Strategy/Planning                   1
Sales Business Development                              1
Analyst Consulting Marketing                            1
Information Technology Analyst Strategy/Planning        1
Analyst Research Science                                1
Engineering Information Technology Analyst              1
Research                                                1
Analyst Information Technology Marketing                1
Consulting Information Technology Engineering           1
Research Engineering Science                            1
Manufacturing                                           1
Management Strategy/Planning                            1
Project Management General Business Analyst             1
Name: job_function, dtype: int64

In [10]:
df.text[7].split("  ")

['Job Description',
 'Are You Ready to Make It Happen at Mondelēz International?',
 'Join our Mission to Lead the Future of Snacking. Make It With Pride.',
 'You will be crucial in supporting our business by creating valuable, actionable insights about the data, and communicating your findings to the business. You will work with various stakeholders to determine how to use business data for business solutions/insights.',
 'How You Will Contribute',
 'You will: Analyze and derive value from data through the application methods such as mathematics, statistics, computer science, machine learning and data visualization. In this role you will also formulate hypotheses and test them using math, statistics, visualization and predictive modeling Understand business challenges, create valuable actionable insights about the data, and communicate your findings to the business. After that you will work with stakeholders to determine how to use business data for business solutions/insights Enable data-driven decision making by creating custom models or prototypes from trends or patterns discerned and by underscoring implications. Coordinate with other technical/functional teams to implement models and monitor results Apply mathematical, statistical, predictive modelling or machine-learning techniques and with sensitivity to the limitations of the techniques. Select, acquire and integrate data for analysis. Develop data hypotheses and methods, train and evaluate analytics models, share insights and findings and continues to iterate with additional data Develop processes, techniques, and tools to analyze and monitor model performance while ensuring data accuracy Evaluate the need for analytics, assess the problems to be solved and what internal or external data sources to use or acquire. Specify and apply appropriate mathematical, statistical, predictive modelling or machine-learning techniques to analyze data, generate insights, create value and support decision making Contribute to exploration and experimentation in data visualization and you will manage reviews of the benefits and value of analytics techniques and tools and recommend improvements',
 'What You Will Bring',
 'A desire to drive your future and accelerate your career and the following experience and knowledge: Strong quantitative skillset with experience in statistics and ML A natural inclination toward solving complex problems Knowledge/experience with statistical programming languages including SAS, R, Python, SQL, etc., to process data and gain insights from it Knowledge of machine learning techniques including decision-tree learning (R andom Forest, Gradient Boost) clustering, artificial neural networks, etc., and their pros and cons. Knowledge and experience in advanced statistical techniques and concepts including, regression, distribution properties, statistical testing, etc. Good communication skills to promote cross-team collaboration Experience/knowledge in statistics and data mining techniques including random forest, GLM/regression, social network analysis, text mining, etc. Ability to use data visualization tools to showcase data for stakeholders',
 'More About This Role',
 'What you need to know about this position:',
 'The Data Scientist forecasting will be responsible for advanced forecasting methodologies for demand forecasting to generate better forecasting results in terms of accuracy and bias Determine, create and maintain the best Statistical models be to be used, by considering SKU demand behavior using segmentation strategy, to generate high quality demand statistical forecast with low forecast error and bias Collaborate with Demand Planners to identify right drivers and lever which influences demand and thus incorporate in statistical forecasting process Support SAS Implementation for market for demand modelling in SAS and SAS Model Forecast Improvement activity. Keep close liaison with SAS implementation partner to get transitioned process to Central Analytics Team Refine forecasting models, by reviewing forecast performance and incorporating feedback from the Demand Planner, to improve forecast error and bias metrics Analyze the model performance every month / week (Where MAPE is deteriorating etc) and post process the output and if required finetune the output Propose additional data elements which we can consume and work with ETL developer to get those into SAS staging and SAS ABTs Run demand-supply segmentation analysis as per defined frequency',
 'Education / Certifications',
 'Either of the following is applicable as educational criteria for the position: Degree/Masters in quantitative field of Statistics, Applied Mathematics or Engineering, with specific full-time courses in Analytics Certifications any of SAS Base, SAS VF, SAS Visual Statistics, etc Strong Applied Knowledge of analytical techniques in statistical modelling, machine learning with exposure to forecasting domain especially driver based forecasting Experience on working with FMCG, Food & Beverages, Retail or similar industry data with understanding the business process with be advantage Should be able to articulate data science outcome into business understandable language Fluent English, other European languages would be an advantage.',
 'The responsibilities of this position are performed within the framework of a regional business model that is defined and managed by Mondelēz Europe GmbH, Switzerland .',
 'No Relocation support available, however for candidates voluntarily moving internationally some minimal support is offered through our Volunteer International Transfer Policy Business Unit Summary At Mondelez Europe, we are proud, not only of the iconic brands we make, but also of the people who make them. Our delicious products are created in 52 plants across Europe by more than 28,000 passionate people. We are the top maker of chocolate and biscuits and a leading maker of gum and candy. We make sure our powerful global brands and local jewels like Cadbury, Milka and Alpen Gold chocolates, Oreo, belVita, LU and Tuc biscuits, and Stimorol and Dirol gums get safely into our customers hands—and mouths. Great people and great brands. That’s who we are. Join us on our journey to continue leading the future of snacking around the world by offering the right snack, for the right moment, made the right way.',
 'Mondelēz International is an equal opportunity employer and all qualified applicants will receive consideration for employment without regard to race, color, religion, gender, sexual orientation or preference, gender identity, national origin, disability status, protected veteran status, or any other characteristic protected by law.',
 'Job Type RegularData ScienceAnalytics & Data Science']

In [ ]:
def get_text_titles(text):
    text = text.split(" ")

In [21]:
example =df.text[7]
full_text = example.split("  ")

In [30]:
titles = [title for title in full_text if len(title.split()) <=5 ]
titles_index = [full_text.index(i) for i in titles]

In [31]:
titles_index

[0, 4, 6, 8, 11]

In [23]:
titles

['Job Description',
 'How You Will Contribute',
 'What You Will Bring',
 'More About This Role',
 'Education / Certifications']

In [ ]:
for i in range(len(titles)):
    print(f"{titles[i]}: \n {}")

In [29]:
full_text.index(titles[2])

6