## Analysis Part 2

<ul style="font-size:20px;">
    <li> EDA</li>
    <li> Find a way to see the top technical skills required</li>
    <li> Find key requirements</li>
    <li> Find education level requirements</li>
    <li> Find key responsibilities</li>

</ul>

In [1]:
# library import 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

/Users/spydermac/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
# reading data 

df = pd.read_csv("./text_to_df/job_df.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ids              141 non-null    int64
 1   title            141 non-null    object
 2   company          141 non-null    object
 3   location         141 non-null    object
 4   text             141 non-null    object
 5   seniority_level  136 non-null    object
 6   industry         141 non-null    object
 7   employment_type  141 non-null    object
 8   job_function     141 non-null    object
dtypes: int64(1), object(8)
memory usage: 10.0+ KB

In [6]:
df.head()

,ids,title,company,location,text,seniority_level,industry,employment_type,job_function
0,56,Software Engineer,Smartbox Group,"Dublin, County Dublin, Ireland",Department: Technology Reporting to: Software...,Associate,"Leisure, Travel & Tourism Hospitality",Full-time,Engineering Information Technology
1,21,Data Analyst,Johnson & Johnson,"Cork, County Cork, Ireland","Data Analyst, Technical Operations (Global) C...",Entry level,Medical Device Financial Services Pharmaceuticals,Full-time,Information Technology
2,34,Senior Data Engineer,Vela Games,"Dublin, County Dublin, Ireland",Vela Games is looking for a talented Senior Da...,Associate,Design Entertainment Computer Games,Full-time,Engineering
3,106,Data Analyst,Dabster,"Cork, County Cork, Ireland","Permanent Position Cork , Ireland Duties, Fu...",Entry level,Information Technology & Services Computer Sof...,Full-time,Information Technology
4,51,AIB - Data Engineer – Data and Analytics,AIB,Ireland,Posted by Caroline Donlon 2nd Senior Business ...,Mid-Senior level,Banking,Full-time,Information Technology

In [15]:
print("Top 10 job titles: ")
df.title.value_counts()[:10]

Top 10 job titles:

Data Scientist                      16
Data Engineer                        8
Senior Data Scientist                7
Senior Data Engineer                 7
Data Analyst                         6
Software Engineer                    6
Machine Learning Engineer            4
UX Researcher                        3
Software Developer                   3
Graduate Data Scientist (Remote)     2
Name: title, dtype: int64

In [20]:
df.location.str.split(",").apply(lambda x: x[0]).value_counts()

Dublin              89
Cork                16
Galway               7
Ireland              6
Dublin City          5
Limerick             3
Shannon              2
Waterford            2
County Dublin        2
Wicklow              1
Carlow               1
County Tipperary     1
Sligo                1
County Limerick      1
Tipperary            1
Killarney            1
Donegal              1
Letterkenny          1
Name: location, dtype: int64

In [10]:
df.employment_type.value_counts()

Full-time                                                                                                                                               128
Contract                                                                                                                                                 11
We are very happy to reward success, and so, with Idiro, you will have an opportunity to craft your career in a flexible and supportive environment.      1
Competitive salary and OTE with good career prospects                                                                                                     1
Name: employment_type, dtype: int64

In [11]:
df.job_function.value_counts()

Engineering Information Technology                     47
Information Technology                                 46
Engineering                                             7
Other                                                   6
Finance Sales                                           3
Information Technology Engineering                      3
Strategy/Planning Analyst Information Technology        2
Information Technology Analyst Engineering              2
Full-time                                               2
Analyst Engineering Information Technology              2
Customer Service                                        2
Research Analyst Information Technology                 2
Information Technology Analyst Strategy/Planning        1
Analyst Information Technology Marketing                1
Sales Business Development                              1
Project Management General Business Analyst             1
Research Strategy/Planning                              1
Science                                                 1
Research Engineering Science                            1
Consulting Information Technology Engineering           1
Management Strategy/Planning                            1
Analyst Research Science                                1
Information Technology Health Care Provider Analyst     1
Research                                                1
Engineering Information Technology Other                1
Engineering Information Technology Analyst              1
Manufacturing                                           1
Engineering Analyst Strategy/Planning                   1
Analyst Consulting Marketing                            1
Name: job_function, dtype: int64

In [32]:
df.text[6].split("  ")

['Job Description',
 "Novartis continues to accelerate its growth in the digital world. As part of our continued growth we're hiring a Senior Data Scientist, Real World Evidence (RWE).",
 'The Senior Data Scientist will lead programming activities aligned with Novartis RWE strategies and implement these strategies at country level, including the programming and statistical analysis for RWE studies and dashboards.',
 "In this role, you'll improve efficiency and quality by conducting RWE projects (including NIS) in support of Novartis products, helping us to reduce external spend on RWE projects. A key element to this role is the interpretation of payer research results to develop solid insights on explicit and implicit needs of payers, then using this payer environment knowledge to develop, optimal brand pricing, market-positioning and partner influence strategies. We'd love you to help us present our data using innovative visualisation methods.",
 "Our Senior Data Scientist also contributes to the timely listings, contract renewals of Novartis brands in addition to delivering high quality, impactful, product listing agreements and develops negotiation strategies in collaboration with the Health Policy and/or Access Team. You'll also manage multi-functional teams in the development and submission of evidence dossiers to HTA and/or P&R bodies.",
 'Your responsibilities include but are not limited to; Lead projects in the development of programming routines (such as SAS, R, Python) along with sophisticated SQL queries to extract, clean, manage, and analyze large databases for health outcomes research. Data sources include medical and pharmacy claims data, hospital data, electronic medical record data, and prospective observational study data Provide your expertise across analytical/technical aspects of the team including; machine learning, deep learning, data mining techniques, statistical techniques, dimensional reduction, R, Git and JIRA Provide leadership on the team on observational data analyses including data management and statistical programming involving new creative approaches, as well as the design and development of RWE dashboards and visualisations Be a key contact for customer engagement, ensure customer satisfaction and support department leadership on business development activities, presenting results, project summaries and analytical solutions to internal or external customers and partners Collaborate with the RWE Research Analysts to scope and design projects, interact with Regional Account Directors (RAD) medical specialists and strategy directors Drive consistency and compliance with company standards regarding project documentation for observational studies and interactive data visualization tools, including programming, specifications of analysis datasets, tables, figures and listings Provide support in the development of strategies to improve standardization techniques in order to improve efficiency Ensure the team’s success by strategically growing current team talent and supporting the team’s expansion by hiring new talent, nurturing and upskilling junior talent Manage the outsourcing of programming activities from Data Science to an approved vendor in accordance with Novartis vendor management procedures',
 ' Minimum Requirements',
 "What you'll need: Bachelor’s degree in Computer Science, Bio-Informatics, Biostatistics, Statistics or similar field Extensive experience in programming or data science in the pharmaceutical industry, contract research organization or academic institute Proven technical abilities with data manipulation, analysis and visualisation including SAS or R, Python, SQL and other statistical software Knowledge of RWE data sources and standards such as MarketScan, CPRD, JMDC, Optum, PharMetrics, OMOP Solid experience in SQL querying using at least one of the following Hive, Impala, MySQL, OracleSQL or similar Good knowledge of machine learning and big-data platforms, e.g. Hadoop or Apache Spark Strong expertise in version control tool such as Git or JIRA Solid ability to communicate effectively with senior business partners, highly effective at prioritising and project manging in a supportive team environment Proficiency in English (oral and written)",
 ' Nice to have: An open to experimentation and taking smart risks to support creative thinking that leads to practical solutions to healthcare and business challenges MA or PhD in a relevant field',
 ' Why consider Novartis?',
 '799 million. That’s how many lives our products touched in 2019. And while we’re proud of that fact, in this world of digital and technological transformation, we must also ask ourselves this: how can we continue to improve and extend even more people’s lives?',
 'We believe the answers are found when curious, courageous and collaborative people like you are brought together in an inspiring environment. Where you’re given opportunities to explore the power of digital and data. Where you’re empowered to risk failure by taking smart risks, and where you’re surrounded by people who share your determination to tackle the world’s toughest medical challenges.',
 'Imagine what you could do at Novartis!',
 'Commitment to Diversity & Inclusion:',
 'Novartis embraces diversity, equal opportunity and inclusion. We are committed to building diverse teams, representative of the patients and communities we serve, and we strive to create an inclusive workplace that cultivates bold innovation through collaboration, and empowers our people to unleash their full potential. Join our Novartis Network: If this role is not suitable to your experience or career goals but you wish to stay connected to learn more about Novartis and our career opportunities, join the Novartis Network here: https://talentnetwork.novartis.com/network',
 'Division NBS',
 'Business Unit NBS CONEXTS',
 'Country Ireland',
 'Work Location Dublin',
 'Company/Legal Entity',
 'Novartis Ireland Limited',
 'Functional Area Market Access',
 'Job Type Full Time',
 'Employment Type Regular',
 'Shift Work No']