## Analysis Part 2

<ul style="font-size:20px;">
    <li> EDA</li>
    <li> Find a way to see the top technical skills required</li>
    <li> Find key requirements</li>
    <li> Find education level requirements</li>
    <li> Find key responsibilities</li>

</ul>

In [140]:
# library import 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import pprint

In [141]:
pp = pprint.PrettyPrinter(indent=4)

In [142]:
# reading data 

df = pd.read_csv("./text_to_df/job_df.csv")

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ids              141 non-null    int64
 1   title            141 non-null    object
 2   company          140 non-null    object
 3   location         141 non-null    object
 4   text             141 non-null    object
 5   seniority_level  136 non-null    object
 6   industry         141 non-null    object
 7   employment_type  141 non-null    object
 8   job_function     141 non-null    object
dtypes: int64(1), object(8)
memory usage: 10.0+ KB

In [144]:
df.head()

,ids,title,company,location,text,seniority_level,industry,employment_type,job_function
0,56,Software Engineer,Smartbox Group,"Dublin, County Dublin, Ireland",Department: Technology Reporting to: Software...,Associate,"Leisure, Travel & Tourism Hospitality",Full-time,Engineering Information Technology
1,21,Data Analyst,Johnson & Johnson,"Cork, County Cork, Ireland","Data Analyst, Technical Operations (Global) C...",Entry level,Medical Device Financial Services Pharmaceuticals,Full-time,Information Technology
2,34,Senior Data Engineer,Vela Games,"Dublin, County Dublin, Ireland",Vela Games is looking for a talented Senior Da...,Associate,Design Entertainment Computer Games,Full-time,Engineering
3,106,Data Analyst,Dabster,"Cork, County Cork, Ireland","Permanent Position Cork , Ireland Duties, Fu...",Entry level,Information Technology & Services Computer Sof...,Full-time,Information Technology
4,51,AIB - Data Engineer – Data and Analytics,AIB,Ireland,Posted by Caroline Donlon 2nd Senior Business ...,Mid-Senior level,Banking,Full-time,Information Technology

In [145]:
print("Top 10 job titles: ")
df.title.value_counts()[:10]

Top 10 job titles:

Data Scientist                      16
Data Engineer                        8
Senior Data Scientist                7
Senior Data Engineer                 7
Data Analyst                         6
Software Engineer                    6
Machine Learning Engineer            4
UX Researcher                        3
Software Developer                   3
Graduate Data Scientist (Remote)     2
Name: title, dtype: int64

In [146]:
df.location.str.split(",").apply(lambda x: x[0]).value_counts()

Dublin              89
Cork                16
Galway               7
Ireland              5
Dublin City          5
Limerick             3
County Dublin        2
Waterford            2
Shannon              2
Carlow               1
Killarney            1
Apex Systems         1
County Tipperary     1
Wicklow              1
Tipperary            1
Sligo                1
Donegal              1
Letterkenny          1
County Limerick      1
Name: location, dtype: int64

In [147]:
df.employment_type.value_counts()

Full-time                                                                                                                                               128
Contract                                                                                                                                                 11
We are very happy to reward success, and so, with Idiro, you will have an opportunity to craft your career in a flexible and supportive environment.      1
Competitive salary and OTE with good career prospects                                                                                                     1
Name: employment_type, dtype: int64

In [148]:
df.job_function.value_counts()

Engineering Information Technology                     47
Information Technology                                 46
Engineering                                             7
Other                                                   6
Information Technology Engineering                      3
Finance Sales                                           3
Analyst Engineering Information Technology              2
Research Analyst Information Technology                 2
Customer Service                                        2
Full-time                                               2
Strategy/Planning Analyst Information Technology        2
Information Technology Analyst Engineering              2
Consulting Information Technology Engineering           1
Science                                                 1
Research Engineering Science                            1
Research Strategy/Planning                              1
Engineering Information Technology Other                1
Management Strategy/Planning                            1
Research                                                1
Engineering Analyst Strategy/Planning                   1
Analyst Research Science                                1
Analyst Consulting Marketing                            1
Information Technology Health Care Provider Analyst     1
Analyst Information Technology Marketing                1
Manufacturing                                           1
Sales Business Development                              1
Project Management General Business Analyst             1
Information Technology Analyst Strategy/Planning        1
Engineering Information Technology Analyst              1
Name: job_function, dtype: int64

In [149]:
df.text[2].split("  ")

['Vela Games is looking for a talented Senior Data Engineer to help build our New Multiplayer Game.',
 'At Vela we love games of every type, but we know that multiplayer, when done well, has a special ability to bring people together. Unforgettable moments are created through the power of playing together. It allows players to keep in touch with old friends regardless of distance, and to forge new friendships that will last lifetimes. Vela was created with these moments in mind, and our focus every day is thinking about how we can create impactful gaming experiences that inspire gamers around the world to play and win collectively.',
 'We are looking for someone who wants to be part of the core foundation of Vela Games; someone who is enthusiastic about being part of an early tight-knit team laser-focused on creating a game from the ground up. As a Data Engineer, you have the ability to shape and build the Vela Games’ data lake and supporting systems for years to come. We can rely on your deep expertise in the design, creation, management, and business use of large datasets, across a variety of data platforms.You are passionate about working with huge data sets and enjoy bringing these together to answer business questions to help drive growth and optimize player experience.',
 'If this sounds like you, please apply, we would love to speak with you !',
 'What You Will Do Architect and build the infrastructure required for the optimal ETL’ of data from a wide variety of data sources using SQL and AWS ‘big data’ technologies. Build, optimize and maintain data pipelines and applications to stream and process large datasets at low latencies. Provide analytics tools that utilize the data pipeline to provide actionable insights into player metrics, gameplay insights and other key business performance metrics. Keep our data separated and secure across national boundaries (or EEA) through multiple data centers and AWS regions. Work with data and insights experts to strive for greater functionality in our data systems.',
 ' Requirements A number of years working knowledge with ETL, Data Modeling, and Data Architecture. Expert-level skills in writing and optimizing SQL. Experience with Big Data technologies such as Hadoop/Hive/Spark. Excellent communication skills Ability to effectively converse with technical & non-technical team members. Self-motivated / have a growth mindset Ability to team up, but also take the lead and work independently when needed. Start-up orientation Strong technical focus, but also able to jump on and contribute to work outside specialization. Deep passion for multiplayer games and player experience.',
 'Bonus Points Proven Understanding operating very large data warehouses or data lakes. Familiarity with programming languages (e.g., Python, Golang). Previous AAA PC or console game development experience. Previous experience working on an online multiplayer service game.',
 ' At Vela Games we are committed to creating a workplace where everyone feels safe, respected & valued. We continue to create a culture where everyone has equal opportunities to thrive in a fully inclusive environment. Diversity & Inclusion is embedded in everything we do and we are dedicated to creating a unique and welcoming environment to all who apply and ultimately join our team!',
 'Covid-19 Hiring Update We’ve transitioned to a work-from-home model and we’re continuing to interview and hire during this time. This role is expected to begin as a remote position but transition to full time in Dublin, Ireland at a later date. We Appreciate each person’s circumstances may be unique and will work with you to explore possible interim options.']

In [150]:
def get_text_titles(text):
    text = text.split("  ")
    return text

In [151]:
print(get_text_titles(df.text[1]))

['Data Analyst, Technical Operations (Global)', 'Cork, remote working', '6 months', '€22 PAYE/ €27 LTD per hour', 'Designing, modeling, testing, implementing a Power BI database utilizing multiple excel documents.', 'Goal Drive analytical capability development and subsequently converge onto the future state tech stack. Develop Project plans, support the project management for the analytics capability development on the Discovery platform. Collaborate with analytics and platform teams to support platform roadmap & strategy Help in identifying the right partners, process and technology capabilities that are needed to drive increased data and analytics maturity. Connect & influence supply chain & analytical stakeholders to drive the integration of data analytics into the End-to-End Supply Chain Processes. Data exploration for new capabilities, knowledge of data sources (ERPs, PLAN systems etc.), functional interpretation, knowledge of Data Engineering - the design, development, validation, scaling and delivery of analytical solutions A system that would host large databases with multiple tables, allow for user inputs, and the possibility of visual reports', 'Requirements Power BI is a possible solution, as it is more user-friendly than MS Access and SQL Server. Create a user interface to the data (Utilising power tools) and integrate excel reporting. 6 months experience in a Data Analytics role Degree Educated (Business Information Systems/ Business/ Commerce) Database creation: built from multiple forms, spreadsheets, and documents hosted in a SharePoint or local drive(s) User interface: forms would collect info from users and feed the database. With the expectation of around 300 users, is recommended to use multiple forms to minimize issues with SharePoint capacity;']

In [152]:
example =df.text[7]
full_text = get_text_titles(example)

In [153]:
# get titles & their index in the full_texzt
titles = [title for title in full_text if len(title.split()) <=5 ]
titles_index = [full_text.index(i) for i in titles]

In [154]:
titles_index

[0, 4, 6, 8, 11]

In [155]:
titles

['Job Description',
 'How You Will Contribute',
 'What You Will Bring',
 'More About This Role',
 'Education / Certifications']

In [156]:
# each segment title as key, and the joined text that follows as the value
segment_dict = { }
for i in range(len(titles) - 1):
    segment_dict[titles[i]] = ' '.join(full_text[titles_index[i]+1:titles_index[i+1]])

# the last item of the titles 
segment_dict[titles[-1]] = ' '.join(full_text[titles_index[-1]+1:])

In [157]:
segment_dict.keys()

dict_keys(['Job Description', 'How You Will Contribute', 'What You Will Bring', 'More About This Role', 'Education / Certifications'])

In [158]:
pp.pprint(segment_dict)

{   'Education / Certifications': 'Either of the following is applicable as '
                                  'educational criteria for the position: '
                                  'Degree/Masters in quantitative field of '
                                  'Statistics, Applied Mathematics or '
                                  'Engineering, with specific full-time '
                                  'courses in Analytics Certifications any of '
                                  'SAS Base, SAS VF, SAS Visual Statistics, '
                                  'etc Strong Applied Knowledge of analytical '
                                  'techniques in statistical modelling, '
                                  'machine learning with exposure to '
                                  'forecasting domain especially driver based '
                                  'forecasting Experience on working with '
                                  'FMCG, Food & Beverages, Retail or similar '
                                  'industry data with understanding the '
                                  'business process with be advantage Should '
                                  'be able to articulate data science outcome '
                                  'into business understandable language '
                                  'Fluent English, other European languages '
                                  'would be an advantage. The responsibilities '
                                  'of this position are performed within the '
                                  'framework of a regional business model that '
                                  'is defined and managed by Mondelēz Europe '
                                  'GmbH, Switzerland . No Relocation support '
                                  'available, however for candidates '
                                  'voluntarily moving internationally some '
                                  'minimal support is offered through our '
                                  'Volunteer International Transfer Policy '
                                  'Business Unit Summary At Mondelez Europe, '
                                  'we are proud, not only of the iconic brands '
                                  'we make, but also of the people who make '
                                  'them. Our delicious products are created in '
                                  '52 plants across Europe by more than 28,000 '
                                  'passionate people. We are the top maker of '
                                  'chocolate and biscuits and a leading maker '
                                  'of gum and candy. We make sure our powerful '
                                  'global brands and local jewels like '
                                  'Cadbury, Milka and Alpen Gold chocolates, '
                                  'Oreo, belVita, LU and Tuc biscuits, and '
                                  'Stimorol and Dirol gums get safely into our '
                                  'customers hands—and mouths. Great people '
                                  'and great brands. That’s who we are. Join '
                                  'us on our journey to continue leading the '
                                  'future of snacking around the world by '
                                  'offering the right snack, for the right '
                                  'moment, made the right way. Mondelēz '
                                  'International is an equal opportunity '
                                  'employer and all qualified applicants will '
                                  'receive consideration for employment '
                                  'without regard to race, color, religion, '
                                  'gender, sexual orientation or preference, '
                                  'gender identity, national origin, '
                                  'disability status, protected veteran '
                                  'status, or any other characteristic '
                                  'protected by law. Job Type RegularData '
                                  'ScienceAnalytics & Data Science',
    'How You Will Contribute': 'You will: Analyze and derive value from data '
                               'through the application methods such as '
                               'mathematics, statistics, computer science, '
                               'machine learning and data visualization. In '
                               'this role you will also formulate hypotheses '
                               'and test them using math, statistics, '
                               'visualization and predictive modeling '
                               'Understand business challenges, create '
                               'valuable actionable insights about the data, '
                               'and communicate your findings to the business. '
                               'After that you will work with stakeholders to '
                               'determine how to use business data for '
                               'business solutions/insights Enable data-driven '
                               'decision making by creating custom models or '
                               'prototypes from trends or patterns discerned '
                               'and by underscoring implications. Coordinate '
                               'with other technical/functional teams to '
                               'implement models and monitor results Apply '
                               'mathematical, statistical, predictive '
                               'modelling or machine-learning techniques and '
                               'with sensitivity to the limitations of the '
                               'techniques. Select, acquire and integrate data '
                               'for analysis. Develop data hypotheses and '
                               'methods, train and evaluate analytics models, '
                               'share insights and findings and continues to '
                               'iterate with additional data Develop '
                               'processes, techniques, and tools to analyze '
                               'and monitor model performance while ensuring '
                               'data accuracy Evaluate the need for analytics, '
                               'assess the problems to be solved and what '
                               'internal or external data sources to use or '
                               'acquire. Specify and apply appropriate '
                               'mathematical, statistical, predictive '
                               'modelling or machine-learning techniques to '
                               'analyze data, generate insights, create value '
                               'and support decision making Contribute to '
                               'exploration and experimentation in data '
                               'visualization and you will manage reviews of '
                               'the benefits and value of analytics techniques '
                               'and tools and recommend improvements',
    'Job Description': 'Are You Ready to Make It Happen at Mondelēz '
                       'International? Join our Mission to Lead the Future of '
                       'Snacking. Make It With Pride. You will be crucial in '
                       'supporting our business by creating valuable, '
                       'actionable insights about the data, and communicating '
                       'your findings to the business. You will work with '
                       'various stakeholders to determine how to use business '
                       'data for business solutions/insights.',
    'More About This Role': 'What you need to know about this position: The '
                            'Data Scientist forecasting will be responsible '
                            'for advanced forecasting methodologies for demand '
                            'forecasting to generate better forecasting '
                            'results in terms of accuracy and bias Determine, '
                            'create and maintain the best Statistical models '
                            'be to be used, by considering SKU demand behavior '
                            'using segmentation strategy, to generate high '
                            'quality demand statistical forecast with low '
                            'forecast error and bias Collaborate with Demand '
                            'Planners to identify right drivers and lever '
                            'which influences demand and thus incorporate in '
                            'statistical forecasting process Support SAS '
                            'Implementation for market for demand modelling in '
                            'SAS and SAS Model Forecast Improvement activity. '
                            'Keep close liaison with SAS implementation '
                            'partner to get transitioned process to Central '
                            'Analytics Team Refine forecasting models, by '
                            'reviewing forecast performance and incorporating '
                            'feedback from the Demand Planner, to improve '
                            'forecast error and bias metrics Analyze the model '
                            'performance every month / week (Where MAPE is '
                            'deteriorating etc) and post process the output '
                            'and if required finetune the output Propose '
                            'additional data elements which we can consume and '
                            'work with ETL developer to get those into SAS '
                            'staging and SAS ABTs Run demand-supply '
                            'segmentation analysis as per defined frequency',
    'What You Will Bring': 'A desire to drive your future and accelerate your '
                           'career and the following experience and knowledge: '
                           'Strong quantitative skillset with experience in '
                           'statistics and ML A natural inclination toward '
                           'solving complex problems Knowledge/experience with '
                           'statistical programming languages including SAS, '
                           'R, Python, SQL, etc., to process data and gain '
                           'insights from it Knowledge of machine learning '
                           'techniques including decision-tree learning (R '
                           'andom Forest, Gradient Boost) clustering, '
                           'artificial neural networks, etc., and their pros '
                           'and cons. Knowledge and experience in advanced '
                           'statistical techniques and concepts including, '
                           'regression, distribution properties, statistical '
                           'testing, etc. Good communication skills to promote '
                           'cross-team collaboration Experience/knowledge in '
                           'statistics and data mining techniques including '
                           'random forest, GLM/regression, social network '
                           'analysis, text mining, etc. Ability to use data '
                           'visualization tools to showcase data for '
                           'stakeholders'}

In [159]:
def text_split_len(text):
    return len(text.split("  "))

In [160]:
df["len_double_space"] = df.text.apply(text_split_len)

In [161]:
df["len_new_line"] = df.text.apply(text_split_len)

In [162]:
df

,ids,title,company,location,text,seniority_level,industry,employment_type,job_function,len_double_space,len_new_line
0,56,Software Engineer,Smartbox Group,"Dublin, County Dublin, Ireland",Department: Technology Reporting to: Software...,Associate,"Leisure, Travel & Tourism Hospitality",Full-time,Engineering Information Technology,10,10
1,21,Data Analyst,Johnson & Johnson,"Cork, County Cork, Ireland","Data Analyst, Technical Operations (Global) C...",Entry level,Medical Device Financial Services Pharmaceuticals,Full-time,Information Technology,7,7
2,34,Senior Data Engineer,Vela Games,"Dublin, County Dublin, Ireland",Vela Games is looking for a talented Senior Da...,Associate,Design Entertainment Computer Games,Full-time,Engineering,9,9
3,106,Data Analyst,Dabster,"Cork, County Cork, Ireland","Permanent Position Cork , Ireland Duties, Fu...",Entry level,Information Technology & Services Computer Sof...,Full-time,Information Technology,4,4
4,51,AIB - Data Engineer – Data and Analytics,AIB,Ireland,Posted by Caroline Donlon 2nd Senior Business ...,Mid-Senior level,Banking,Full-time,Information Technology,11,11
...,...,...,...,...,...,...,...,...,...,...,...
136,66,Data Analyst (Marketing),Azon Recruitment Group,"Dublin, County Dublin, Ireland",Posted by Laura Murphy 2nd Recruitment Consult...,Entry level,Financial Services Information Technology & Se...,Full-time,Analyst Information Technology Marketing,12,12
137,71,Data Engineer,Verizon Connect,"Dublin City, County Dublin, Ireland",Posted by Ian Cummins 2nd Senior Technical Rec...,Mid-Senior level,Information Technology & Services,Full-time,Information Technology,12,12
138,17,Data Engineer - AI Analytics - Cork,Jefferson Frank,"Cork, County Cork, Ireland",Data Engineer Cork - Flexible Remote Working ...,Entry level,Information Technology & Services Staffing & R...,Full-time,Information Technology,7,7
139,29,Data Scientist - Remote,Reperio Human Capital,"Cork, County Cork, Ireland",(Artificial Intelligence) Exciting new opport...,Entry level,Information Technology & Services Computer Sof...,Full-time,Engineering Information Technology,8,8
140,19,Postdoctoral Researcher Huawei Project,Dublin City University,"Dublin, County Dublin, Ireland",Research Centre Insight SFI Research Centre f...,Entry level,Higher Education Education Management Research,Contract,Research Analyst Information Technology,34,34

In [164]:
# checking if use of double space or new line give the same valuse
# it looks like it does! 
df["len_double_space"].equals(df.len_new_line)

True

In [165]:
# get ids of documents with less than 3 to modify
ids_less_3 = df[df.len_double_space <=3].ids.to_list()
print(ids_less_3)

[78, 118, 133, 100, 102, 50, 113, 46, 20]

In [166]:
import os